:host {
    text-align: center;
    display: inline-block;
}

.db {
    margin-top: 20px;
    font-size: 20px;
    font-weight: 500;
}

.name {
    font-size: 20px;
    font-weight: 200;
}

mat-slider {
    height: 400px;
}